@mixin square {
    width: 200px;
    height: 200px;
    background-color: turquoise;
    border: 1px solid black;
}

@mixin sqaure-bg ($bg: red){
    background-color: $bg;
}

@mixin circle {
    width: 200px;
    height: 200px;
    border: 3px solid red;
    border-radius: 200px;
}

@mixin circle-bg ($bg:purple) {
    background-color: $bg;
}

@mixin circle-border {
    border: 3px solid blue;
}

.squares {
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;

    .square-magenta {
        @include square;

        @include sqaure-bg(magenta);
    }

    .square-peru {
        @include square;

        @include sqaure-bg(peru)
    }
    
    .square-purple {
        @include square;

        @include sqaure-bg (purple)
    }
}

.circles {
    width: 75%;
    border: 1px solid brown;
    border-radius: 20px;
    margin: 0 auto;

    .circle-red {
        @include circle;
        @include circle-bg(red);
    }

    .circle-green {
        @include circle;
        @include circle-bg(green);
    }

    .circle-blue {
        @include circle;
        @include circle-bg(blue);
    }

    .circle-border-blue {
        @include circle;
        @include circle-border();
    }
}
