.header-top {
  background: url('../../../img/banners/banner1.png') no-repeat center center;
  background-size: cover;
  height: 500px;

  .header-contact {
    display: flex;
    
  }

  li {
    display: inline-flex;
  }

  a {
    color: $white;
    justify-content: space-around;
  }

  .header-controls {
    float: right;
    display: inline-flex;
  }

  p{
    color: $white;
  }
}

